body{
    margin: 0;
    padding: 0;

}
.page-wrapper::before{
content: '';
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background: rgba(0,0,0,0.5);

}

.page-wrapper h1{
    color: white;
    position: relative;
    z-index: 500;
}
img{
    max-width: 100%;
}
.page-wrapper
{
    display: flex;
    min-height: 100vh;
    background-image: url(/img/bg.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home-nav{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 500;
    padding: 0;
    margin: 0;
    list-style: none;

}
.home-nav li a{
text-decoration: none;
color: white;
font-size: 1.5rem;
display: inline-block;
padding: 1rem;
}